{% extends "base.html" %}

{% block title %}Добавление студента{% endblock %}

{% block content %}
<h1>ДОБАВЛЕНИЕ</h1>

{% if error %}
<div class="error">
	Произошла ошибка: {{ error }}
</div>
{% endif %}

{% if success %}
<div class="success">
	Студент успешно добавлен: {{ success }}
</div>
{% endif %}

<form method="post">
	{% csrf_token %}
	<input type="submit" value="Добавить">
	{% include view_format %}
	<input type="submit" value="Добавить">
</form>

{% comment %}
<form action="{% url add %}" method="post">
	<input type="submit" value="Добавить">
	{% csrf_token %}
	{% include view_format %}
</form>
{% endcomment %}
{% endblock %}