{% load students_extra %}
{# <script type="text/javascript" src="/js/table_nav.js"></script> #}
<h3><a href="javascript:;" onclick="toggle_form(this);">ОМиР</a></h3>





<h3><a href="javascript:;" onclick="toggle_form(this);">Отдел Кадров</a></h3>
<table class="form" id="kadr_form">

	<tr>
		{% field form.contract_number %}
		{% field form.contract_date %}					
	</tr>
	<tr>
		{% field form.study_group_number %}
		{% field form.program_change %}
	</tr>
	

</table>

<h3><a href="javascript:;" onclick="toggle_form(this);">Остальное</a></h3>
<table class="form" id="other_form">
	<tr>
		{% field form.last_name %}
		{% field form.first_name %}
	</tr>
	<tr>
		{% field form.sex %}
		{% field form.birth_date %}
	</tr>
	<tr>
		{% field form.citizenship %}
		{% field form.passport_num %}										
	</tr>
	<tr>
		{% field form.invitation_sent_date %}
		{% field form.invitation_duration_from_date %}
	</tr>
	<tr>
		{% field form.invitation_received_date %}
		{% field form.invitation_duration_till_date %}
	</tr>
	<tr>
		{% field form.pay_registration_fee_date %}
		{% field form.pay_invitation_fee_date %}		
	</tr>
	<tr>
		{% field form.contract_status %}
		{% field form.contract_company_name %}
	</tr>

	<tr>
		{% field form.program_status %}
		{% field form.faculty_grade %}
	</tr>
	<tr>
		{% field form.faculty_name %}
	</tr>
	<tr>
		{% field form.study_from_date %}	
		{% field form.study_till_date %}					
	</tr>
	<tr>
		{% field form.pre_univ_training %}
		{% field form.pre_arrival_date_char %}
	</tr>
	<tr>
		<td> </td><td> </td>
		{% field form.note_omir %}		
	</tr>
	<tr>
		{% field form.order_number %}	
		{% field form.order_date %}						
	</tr>

	<tr>
		{% field form.last_name_lat %}
		{% field form.first_name_lat %}
	</tr>
	<tr>
		{% field form.passport_duration_from_date %}							
		{% field form.passport_duration_till_date %}					
	</tr>
	<tr>	
		{% field form.visa_number %}					
		{% field form.visa_entrance_from_date %}					
	</tr>
	<tr>
		{% field form.visa_delivery_date %}					
		{% field form.visa_entrance_till_date %}					
	</tr>
	<tr>
		{% field form.visa_id_num %}
		{% field form.invitation_number %}
	</tr>
	<tr>
		{% field form.migration_uvd %}
		{% field form.address %}
	</tr>
	<tr>	
		{% field form.address_migration %}
		{% field form.address_native %}
	</tr>

	<tr>
		{% field form.pre_arrival_date_check %}
		{% field form.arrival_date %}
	</tr>	

	<tr>
		{% field form.migration_date %}
		{% field form.case_ok_receive %}
	</tr>
	<tr>
		{% field form.migration_border %}
		{% field form.case_omir_transfer %}
	</tr>
	<tr>
		{% field form.migration_number %}
	</tr>
</table>

<h3><a href="javascript:;" onclick="toggle_form(this);">Контакты</a></h3>
<table class="form" id="contacts_form">
	<tr>
		{% field form.phone %}		
		{% field form.e_mail %}
	</tr>
	<tr>
		{% field form.register_date %}		
	</tr>
	<tr>
		{% field form.note %}		
	</tr>	

</table>
